<div class="container mt-4">
  <h2 class="mb-3">Listado de Salas</h2>

  <!-- Botón Agregar Sala -->
  <div class="mb-3">
    <button class="btn btn-primary" (click)="irAregistrarSala()">
      <i class="bi bi-plus-circle"></i> Agregar Sala
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Código</th>
          <th>Capacidad</th>
          <th style="width: 250px;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sala of salas">
          <td>{{ sala.idsala }}</td>
          <td>{{ sala.codsala }}</td>
          <td>{{ sala.capacidad }}</td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm me-1" (click)="irAactualizarSala(sala.idsala)">
              <i class="bi bi-pencil"></i> Actualizar
            </button>
            <button class="btn btn-danger btn-sm" (click)="eliminarSala(sala.idsala)"> Eliminar
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>