<div class="container mt-4">
  <h2 class="mb-3">Listado de Salas</h2>

  <div class="container">
    <div class="row align-items-end mb-3">
      <div class="col-md-4">
        <label for="capacidad" class="form-label">Filtrar Salas por capacidades menores A:</label>
        <input type="number" class="form-control" id="capacidad" [(ngModel)]="capacidadSeleccionada" name="capacidad" placeholder="Ingrese capacidad mínima">
      </div>  
  
      <div class="col-md-3">
        <button class="btn btn-secondary w-100" (click)="filtrarSalas()">
          <i class="bi bi-filter-circle"></i> Filtrar
        </button>
      </div>
  
      <div class="col-md-2">
        <button class="btn btn-danger w-100" (click)="limpiarFiltros()">
          <i class="bi bi-plus-circle"></i> Limpiar Filtros
        </button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary w-100" (click)="irAregistrarSala()">
          <i class="bi bi-plus-circle"></i> Agregar Sala
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-9 mx-auto text-center">
    <h3 class="text-center titulo">Salas</h3>
    <div class="contenedor d-flex justify-content-center align-items-center flex-column">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let sala of salas">
          <div class="card shadow-sm">
            <img src="assets/imgs/salas.webp" class="componenteImg" alt="Imagen de Sala">
            <div class="card-body">
              <h5 class="card-title">Código: {{ sala.codsala }}</h5>
              <p class="card-text">ID: {{ sala.idsala }}</p>
              <p class="card-text">Capacidad: {{ sala.capacidad }}</p>

              <button class="btn btn-info me-2" (click)="irAactualizarSala(sala.idsala)">Actualizar</button>
              <button class="btn btn-danger" (click)="eliminarSala(sala.idsala)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>