<br>
<br>
<br>
<br>
<br>
<br>
<div class="fondo-gif">
  <img src="assets/imgs/login.gif" alt="Fondo animado de películas" loading="lazy">
</div>
<div class="container">
 
    <div class="row">
      <div class="login-form-container">
        <div *ngIf="loginError" class="alert alert-danger">Usuario o contraseña inválidos</div>
        <div *ngIf="logoutSuccess" class="alert alert-success">Tu sesión fue finalizada con éxito</div>
  
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Iniciar Sesión</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="login()" #loginForm="ngForm">
              <div class="form-group mb-3">
                <label class="control-label">Usuario</label>
                <input
                  type="text"
                  id="nombreUsuario"
                  name="nombreUsuario"
                  class="form-control"
                  placeholder="Ingrese el usuario"
                  [(ngModel)]="nombreUsuario"
                  required
                />
              </div>
  
              <div class="form-group mb-3">
                <label class="control-label">Password</label>
                <input
                  type="password"
                  id="contrasenia"
                  name="contrasenia"
                  class="form-control"
                  placeholder="Ingrese el Password"
                  [(ngModel)]="contrasenia"
                  required
                />
              </div>

              <div class="text-left mt-2">
                <a href="http://localhost:4200/registrarAdmin" (click)="aRegistrarNuevoAdmin()" style="text-decoration: none;">Agregar nuevo usuario</a>
              </div>
              <br>
              <br>
              <br>
              <div class="form-group mb-3 text-center">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="login-footer">
    <img src="assets/imgs/logoFinalBlanco.png" alt="Logo Final">
  </div>