<div class="container mt-4">
    <h2 class="mb-4">Actualizar Pelicula</h2>
  
    <form #peliculaForm="ngForm" (ngSubmit)="actualizarPelicula()">
      <div class="mb-3">
        <label for="nombrepelicula" class="form-label">Nombre de la Pelicula</label>
        <input type="text" id="nombrepelicula" class="form-control" required [(ngModel)]="pelicula.nombrepelicula" name="nombrepelicula">
      </div>
  
      <div class="mb-3">
        <label for="directorpelicula" class="form-label">Director de la Pelicula</label>
        <input type="text" id="directorpelicula" class="form-control" required [(ngModel)]="pelicula.directorpelicula" name="directorpelicula">
      </div>

      <div class="mb-3">
        <label for="generopelicula" class="form-label">Genero de la Pelicula</label>
        <input type="text" id="generopelicula" class="form-control" required [(ngModel)]="pelicula.generopelicula" name="generopelicula">
      </div>

      <div class="mb-3">
        <label for="duracionpelicula" class="form-label">Duracion de la Pelicula</label>
        <input type="text" id="duracionpelicula" class="form-control" required [(ngModel)]="pelicula.duracionpelicula" name="duracionpelicula">
      </div>

      <div class="mb-3">
        <label for="idiomapelicula" class="form-label">Idioma de la Pelicula</label>
        <input type="text" id="idiomapelicula" class="form-control" required [(ngModel)]="pelicula.idiomapelicula" name="idiomapelicula">
      </div>

      <div class="mb-3">
        <label for="clasificacionpelicula" class="form-label">Clasificacion de la Pelicula</label>
        <input type="text" id="clasificacionpelicula" class="form-control" required [(ngModel)]="pelicula.clasificacionpelicula" name="clasificacionpelicula">
      </div>
  
      <!-- Botón Actualizar -->
      <button type="submit" class="btn btn-success" [disabled]="peliculaForm.invalid">
        <i class="bi bi-save"></i> Actualizar Pelicula
      </button>
      <button type="button" class="btn btn-secondary" (click)="volverListado()">Volver al Listado</button>
    </form>
  </div>