<div class="container mt-4">
    <h2 class="mb-3">Listado de Peliculas</h2>
  
    <!-- Botón Agregar Pelicula -->
    <div class="mb-3">
      <button class="btn btn-primary" (click)="irAregistrarPelicula()">
        <i class="bi bi-plus-circle"></i> Agregar Pelicula
      </button>
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre Pelicula</th>
            <th>Director Pelicula</th>
            <th>Genero</th>
            <th>Duracion</th>
            <th>Idioma</th>
            <th>Clasificacion</th>
            <th style="width: 250px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pelicula of peliculas">
            <td>{{ pelicula.idpelicula }}</td>
            <td>{{ pelicula.nombrepelicula }}</td>
            <td>{{ pelicula.directorpelicula }}</td>
            <td>{{ pelicula.generopelicula }}</td>
            <td>{{ pelicula.duracionpelicula }}</td>
            <td>{{ pelicula.idiomapelicula }}</td>
            <td>{{ pelicula.clasificacionpelicula }}</td>
            <td class="text-center">
              <button class="btn btn-warning btn-sm me-1" (click)="irActualizarPelicula(pelicula.idpelicula)">
                <i class="bi bi-pencil"></i> Actualizar
              </button>
              <button class="btn btn-danger btn-sm" (click)="eliminarPelicula(pelicula.idpelicula)"> Eliminar
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>