<div class="container mt-4">
  <h2 class="mb-3">Listado de Peliculas</h2>

  <div class="container">
    <div class="row align-items-end mb-3">
      <div class="col-md-4">
        <label for="idiomapelicula" class="form-label">Filtrar por Idioma:</label>
        <select class="form-select" id="idiomapelicula" [(ngModel)]="idiomaSeleccionado" name="idiomapelicula">
          <option value="0" selected disabled hidden>Seleccione...</option>
          <option *ngFor="let idioma of idiomas" [value]="idioma">
            {{ idioma }}
          </option>
        </select>
      </div>  

      <div class="col-md-3">
        <button class="btn btn-secondary w-100" (click)="filtrarPeliculas()">
          <i class="bi bi-filter-circle"></i> Filtrar
        </button>
      </div>

      <div class="col-md-2">
        <button class="btn btn-danger w-100" (click)="limpiarFiltros()">
          <i class="bi bi-plus-circle"></i> Limpiar Filtros
        </button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary w-100" (click)="irAregistrarPelicula()">
          <i class="bi bi-plus-circle"></i> Agregar Pelicula
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-9 mx-auto text-center">
    <h3 class="text-center titulo">Peliculas</h3>
    <div class="contenedor d-flex justify-content-center align-items-center flex-column">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let pelicula of peliculas">
          <div class="card shadow-sm">
            <img  src="assets/imgs/peliculas.webp" class="componenteImg" alt="Imagen de Película">
            <div class="card-body">
              <h5 class="card-title">{{ pelicula.nombrepelicula }}</h5>
              <p class="card-text">Género: {{ pelicula.generopelicula }}</p>
              <p class="card-text">Idioma: {{ pelicula.idiomapelicula }}</p>
              <p class="card-text">Duración: {{ pelicula.duracionpelicula }}</p>
              <p class="card-text">Clasificación: {{ pelicula.clasificacionpelicula }}</p>
              <p class="card-text">Director: {{ pelicula.directorpelicula }}</p>
  
              <button class="btn btn-info me-2" (click)="irActualizarPelicula(pelicula.idpelicula)">Actualizar</button>
              <button class="btn btn-danger" (click)="eliminarPelicula(pelicula.idpelicula)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>