<div class="container vh-100 d-flex flex-column justify-content-start align-items-center">
    <!-- Logotipo horizontal más grande -->
    <div class="mb-2 mt-0 text-center">
      <img src="assets/imgs/logoFinalBlanco.png" alt="Logotipo" class="img-fluid" style="width: 30%; height: 20vh; object-fit: contain; margin-top: 0;">
    </div>
  
<!-- Carrusel de imágenes -->
<div id="carouselInicio" class="carousel slide w-75" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/imgs/carrusel3.jpeg" class="d-block w-100" alt="Imagen 1">
    </div>
    <div class="carousel-item">
      <img src="assets/imgs/carrusel4.jpg" class="d-block w-100" alt="Imagen 2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
  </div>
  
  