<div class="container mt-4">
  <h2 class="mb-4">Registrar nueva sala</h2>

  <form #salaForm="ngForm" (ngSubmit)="registrarSala()">
    <!-- Código de Sala -->
    <div class="mb-3">
      <label for="codsala" class="form-label">Código de Sala</label>
      <input type="text" id="codsala" class="form-control" required [(ngModel)]="nuevaSala.codsala" name="codsala"
        placeholder="Ejm:SALA007">
    </div>

    <!-- Capacidad -->
    <div class="mb-3">
      <label for="capacidad" class="form-label">Capacidad</label>
      <input type="number" id="capacidad" class="form-control" required min="1" [(ngModel)]="nuevaSala.capacidad"
        name="capacidad" placeholder="Ej: 30">
    </div>

    <!-- Botón Guardar -->
    <button type="submit" class="btn btn-success" [disabled]="salaForm.invalid"> <i class="bi bi-save"></i> Registrar Sala </button>
    <button type="button" class="btn btn-secondary" (click)="volverListado()">Volver al Listado</button>
  </form>
</div>