<div class="container mt-4">
    <h2 class="mb-4">Registrar nueva función</h2>

    <form #funcionForm="ngForm" (ngSubmit)="registrarFuncion()">
        <div class="mb-3">
            <label for="fechaFuncion" class="form-label">Fecha de la función</label>
            <input type="date" id="fechaFuncion" class="form-control" required [(ngModel)]="nuevaFuncion.fechaFuncion"
                name="fechaFuncion">
        </div>

        <!-- Seleccionar Sala -->
        <div class="mb-3">
            <label for="idsala" class="form-label">Sala</label>
            <select class="form-select" id="idsala" required [(ngModel)]="nuevaFuncion.idsala" name="idsala">
                <option value=0 hidden selected disabled>Seleccione...</option>
                <option *ngFor="let sala of salas" [value]="sala.idsala">
                    {{ sala.codsala }} - Capacidad: {{ sala.capacidad }}
                </option>
            </select>
        </div>

        <!-- Seleccionar Película -->
        <div class="mb-3">
            <label for="idpelicula" class="form-label">Película</label>
            <select class="form-select" id="idpelicula" required [(ngModel)]="nuevaFuncion.idpelicula" name="idpelicula">
                <option value=0 hidden selected disabled>Seleccione...</option>
                <option *ngFor="let pelicula of peliculas" [value]="pelicula.idpelicula">
                    {{ pelicula.nombrepelicula }}
                </option>
            </select>
        </div>

        <!-- Botón Guardar -->


        <div class="d-flex gap-3 mt-4">
            <button type="submit" class="btn btn-success" [disabled]="funcionForm.invalid">
                <i class="bi bi-save"></i> Registrar Función
            </button>
            <button type="button" class="btn btn-secondary" (click)="volverListado()">Volver al Listado</button>
          </div>
    </form>
</div>